/* setting some general style */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* setting background color */
body {
    background-color: #d9dcd6;
}

/* setting style for "header" class div element containing an h1 element with 3 list items*/
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* style for h1 element of "header" class div - it will change to inline-block and change font size*/
.header h1 {
    display: inline-block;
    font-size: 48px;
}

/* the span with "ceo" gain new color */
.seo {
    color: #d9dcd6;
}

/* style for all elements of div with class "header"  */
.header div {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* remove disc signs characteristic for standard ul */
ul {
    list-style-type: none;
}

/* change dysplay tyoe for the list elements */
li {
    display: inline-block;
    margin-left: 25px;
}

/* style for links */
a {
    color: #ffffff;
    text-decoration: none;
}

/* style for paragraph elements */
p {
    font-size: 16px;
}



/* give style and an image as a background for div with "hero" class  ; this image become the widest of all elements with full width */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}



/* set the div with class "content" width as 3/4 from main ; then margins and display set */
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* position towards left with right margin for some of the img*/
.float-left {
    float: left;
    margin-right: 25px;
}

/* position towards right with left margin for some of the img*/
.float-right {
    float: right;
    margin-left: 25px;
}


/* style the class "content_"  */
.content_ {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* style the img from class "content_"  */
.content_ img {
    max-height: 200px;
}

/* style the h2 element from class "content_"  */
.content_ h2 {
    margin-bottom: 20px;
    font-size: 36px;
}



/* style the "benefits" class div */
.benefit_s {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* style the child div "benefit"  */
.benefit {
    margin-bottom: 32px;
    color: #ffffff;
}

/* style the h3 of div class "benefit"  */
.benefit h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* style the img of div class "benefit"  */
.benefit img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}



/* style the footer element  */
.footer {
    display: none;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* style the h2 element of the footer element  */
.footer h2 {
    font-size: 20px;
}
